
<div id="account-data">
    <h3>User Account Information</h3>

    <div class="span2 labels">
        <p>Username:</p>
        <p>First Name:</p>
        <p>Last Name:</p>
        <p>Email Address:</p>
        <p>Date Joined:</p>
        <p>Last Login:</p>
        <p>Games Played:</p>
    </div>

    <div class="span3">
        <p id="username">fake.user</p>
        <p id="first_name">John</p>
        <p id="last_name">Doe</p>
        <p id="email">jd@gmail.com</p>
        <p id="date_joined">September 3, 2012<p>
        <p id="last_login">November 5, 2012</p>
        <p id="games_played">654</p>
    </div>
</div>

