{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
        <link rel="stylesheet" href="{% static "css/game.css" %}">
{% endblock %}

{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">TileToTheTop</a>
                {% if user.is_authenticated %}
                <ul class="nav">
                    <li><a href="#">Hello, {{ user.username }}</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a id="logout-button" href="{% url logout %}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav pull-right">
                    <li><a id="register-button" data-toggle="modal" href="#register-modal">Register</a></li>
                    <li><a id="login-button" data-toggle="modal" href="#login-modal">Login</a></li>
                    <li><a href="{% url socialauth_begin 'facebook' %}">Login with Facebook</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 60px">
        <div id="logo">
            <img src={%static "t4logo_v0.2_70.png" %} />  
        </div>

        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#game-area" data-toggle="tab">Play</a></li>
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
                <li><a href="#account" data-toggle="tab">Account</a></li>
                <li><a href="#leaderboard" data-toggle="tab">Leaderboard</a></li>
                <li><a href="#about" data-toggle="tab">About</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="game-area">
                    <div id="start-screen">
                        <p>Click anywhere to start!</p>
                    </div>
                </div>
                <div class="tab-pane" id="settings">
                    <p>Game settings</p>
                </div>
                <div class="tab-pane" id="account">
                    {% include "account.html" %}
                </div>
                <div class="tab-pane" id="leaderboard">
                    <p>The Leaderboard</p>
                </div>
                <div class="tab-pane" id="about">
                    <div id="about-data">
                        <h3>The Development Team</h3>
                        <p>Laura Dong</p>
                        <p>Rowan Hale</p>
                        <p>Adam Kalman</p>
                        <p>Justin McManus</p>
                        <p>Grace Muzny</p>
                        <p>Steve Seedall</p>
                        <p>Cullen Su</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "modals.html" %}
{% endblock %}
{% block js %}
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/game.js" %}"></script>
        <script src="{% static "js/messenger.js" %}"></script>
        <script src="{% static "js/modals.js" %}"></script>
        <script src="{% static "js/utilities.js" %}"></script>
{% endblock %}
