{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
        <link rel="stylesheet" href="{% static "css/game.css" %}">
{% endblock %}

{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                {% if user.is_authenticated %}
                <ul class="nav">
                    <li><a href="#">Hello, {{ user.username }}</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a id="logout-button" href="{% url logout %}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav">
                    <li><a href="#">Welcome, guest</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a id="register-button" data-toggle="modal" href="#register-modal">Register</a></li>
                    <li><a id="login-button" data-toggle="modal" href="#login-modal">Login</a></li>
                    <li><a href="{% url socialauth_begin 'facebook' %}">Login with Facebook</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 60px">
        <div id="logo">
            <img src={% static "t4logo_v0.25_65.png" %} />  
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#play" data-toggle="tab">Play</a></li>
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
                {% if user.is_authenticated %}
                <li><a href="#account" data-toggle="tab">Account</a></li>
                {% endif %}
                <li><a href="#leaderboard" data-toggle="tab">Leaderboard</a></li>
                <li><a href="#about" data-toggle="tab">About</a></li>
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane active" id="play">
                    {% include "main.html" %}
                    <div id="game-area">
                        <div id="game-menu">
                            <button class="btn btn-primary" id="new-game" type="button"
                                    rel="tooltip" data-title="Start a new game" data-placement="left">
                                Return to Start Menu
                            </button>
                            <button class="btn btn-primary" id="quit-game" type="button"
                                    rel="tooltip" data-title="End game and reveal solution" data-placement="right">
                                Quit Game
                            </button>
                        </div>
                        <div id="transition-screen">
                            <h1>SCORE: 0</h1>
                            <p>Click here to start a new game</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings">
                    <p>Game settings</p>
                </div>
                {% if user.is_authenticated %}
                <div class="tab-pane" id="account">
                    {% include "account.html" %}
                </div>
                {% endif %}
                <div class="tab-pane" id="leaderboard">
                    <p>The Leaderboard</p>
                </div>
                <div class="tab-pane" id="about">
                    <div id="about-data">
                        <h3>The Development Team</h3>
                        <p>Laura Dong</p>
                        <p>Rowan Hale</p>
                        <p>Adam Kalman</p>
                        <p>Justin McManus</p>
                        <p>Grace Muzny</p>
                        <p>Steve Seedall</p>
                        <p>Cullen Su</p>
                    </div>
					<div id="how-to-play">
						<h3>How To Play</h3>
						<p class="instruction-text">Playing Tile To The Top is easy.  Simply drag the tiles to form words that match the definitions.</p>
						<p class="instruction-text">You can also click on a solution tile and simply type the letter you want to be moved there.  Clicking on a selected solution tile will de-select it.</p>
						<p class="instruction-text">Note that if the letter you typed does not have a corresponding Tile in the yellow area below, then nothing will happen.</p>
						<p class="instruction-text">If you need help, there are 4 hint buttons, clicking one will reveal one letter at random from the solution for that word.</p>
						<p class="instruction-text">To win, solve all 4 words correctly.</p>
					</div>
                </div>
            </div>
        </div>
    </div>

    {% include "modals.html" %}
{% endblock %}
{% block js %}
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/game.js" %}"></script>
        <script src="{% static "js/messenger.js" %}"></script>
        <script src="{% static "js/modals.js" %}"></script>
        <script src="{% static "js/utilities.js" %}"></script>
{% endblock %}
