<div id="start-menu" class="item active">
    <h2>Start Stacking!</h2>
    <h3>
        Game Options
        <span class="help-popover">
            <button id="game-help" class="btn btn-link" type="button" data-title="Getting Started"
                    data-content="Select a dictionary to use by expanding a group below (Built-in or Custom, if you have created a list).
                    If no group is expanded, a new game will use the game's built-in dictionary with no additional settings.">
                    ?
            </button>
        </span>
    </h3>

    <form class="form-horizontal">
        <fieldset>
            <div id="game-options" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#game-options" href="#dict-game">
                            Built-in Dictionary
                        </a>
                    </div>
                    <div id="dict-game" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="control-group">
                                <label class="control-label" for="difficulty-group">
                                    Difficulty:
                                </label>
                                <div id="difficulty-group" class="controls">
                                    <div id="difficulty-inputs" class="controls input-prepend input-append">
                                        <button id="step-less-exp" class="btn btn-inverse" type="button">&lt;&lt;</button>
                                        <button id="step-less-const" class="btn btn-inverse" type="button">&lt;</button>
                                        <input id="setting-difficulty" type="text" value="75" disabled="disabled">
                                        <button id="step-more-const" class="btn btn-inverse" type="button">&gt;</button>
                                        <button id="step-more-exp" class="btn btn-inverse" type="button">&gt;&gt;</button>
                                    </div>
                                    <label for="setting-difficulty" id="difficulty-text" class="help-block controls">Medium</label>
                                </div>
                                <!--<label>
                                    <input type="checkbox"> On
                                </label>-->
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="setting-tag">
                                    Filter by Tag:
                                </label>
                                <select id="setting-tag" class="controls">
                                    <option value="">-None-</option>
                                    {% for tag in tags %}
                                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% if user.is_authenticated and custom_lists %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#game-options" href="#dict-custom">
                            Custom Dictionary
                        </a>
                    </div>
                    <div id="dict-custom" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="control-group">
                                <label class="control-label" for="setting-custom">
                                    Use Custom List:
                                </label>
                                <select id="setting-custom" class="controls">
                                    <!--<option value="">-None-</option>-->
                                    {% for list in custom_lists %}
                                    <option value="{{ list.id }}">{{ list.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </fieldset>
    </form>
    <p>
        <button class="btn btn-large btn-primary" id="start-button" type="button">
            Start New Game
        </button>
        <span id="start-game-inprogress">
            or
            <button class="btn btn-large btn-primary" id="return-button" type="button">
                Return to Current Game
            </button>
            and continue tiling to the top!
        </span>
    </p>
    
</div>

<div id="game-area" class="item">
    <div id="game-menu">
        <button class="btn btn-primary hidden-button" id="new-game" type="button"
                rel="tooltip" data-title="Start a new game" data-placement="left">
            Return to Start Menu
        </button>
        <button class="btn btn-primary" id="quit-game" type="button"
                rel="tooltip" data-title="End game and reveal solution" data-placement="right">
            Quit Game
        </button>
        <button class="btn btn-primary" id="restart" type="button"
                rel="tooltip" data-title="Start new game with same settings" data-placement="right">
            Restart
        </button>
        <button class="btn btn-primary hidden-button" id="share" type="button"
                rel="tooltip" data-title="Share this game" data-placement="right">
            Share
        </button>
        <span class="hidden-button btn btn-primary btn-disabled fake-button" id="linkArea" type="text">
            Filler Text
        </span>
        <button class="btn btn-primary hidden-button" id="post-to-facebook" type="button"
                rel="tooltip" data-title="Post this game on your Facebook feed" data-placement="right">
            Post to Facebook
        </button>
        <p id="timer-display" class="pull-right">
            <span id="min">00</span>:<span id="sec">00</span>
        </p>
    </div>
	<div id="drag-blocker">
		<p>Game over</p>
    </div>
    <div id="transition-screen">
		<h1 id="transition-message">Message!</h1>
        <h2>SCORE: <span id="score-final">0</span></h2>
        <p>
            Base (<span id="score-base">0</span>) +
            Time Bonus (<span id="score-bonus">0</span>) +
            Penalty (<span id="score-penalty">0</span>)
        </p>
		<p>Click anywhere to continue...</p>
    </div>
</div>
