<div id="start-menu">
    <h2>Start Stacking!</h2>
    <h3>A red wheelbarrow glazed with rainwater...</h3>

    <form id="game-settings" class="form-horizontal">
        <fieldset>
            <legend data-toggle="collapse" data-target="#game-options">
                Game Options
            </legend>
            
            <div id="game-options" class="collapse in">
                <div class="control-group">
                    <label class="control-label" for="setting-difficulty">
                        Difficulty:
                    </label>
                    <div id="setting-difficulty" class="controls btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn" value="0">
                            Easy
                        </button>
                        <button type="button" class="btn" value="50">
                            Medium
                        </button>
                        <button type="button" class="btn" value="100">
                            Hard
                        </button>
                        <button type="button" class="btn active" value="*">
                            Any
                        </button>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="setting-level">
                        Level:
                    </label>
                    <select id="setting-level" class="controls">
                        {% for i in "0123456789"|make_list %}
                        <option>{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="setting-tag">
                        Filter by Tag:
                    </label>
                    <select id="setting-tag" class="controls">
                        <option value="">-None-</option>
                        {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                {% if user.is_authenticated %}
                <div class="control-group">
                    <label class="control-label" for="setting-custom">
                        Use Custom List:
                    </label>
                    <select id="setting-custom" class="controls">
                        <option value="">-None-</option>
                        <!-- add others from db... -->
                    </select>
                </div>
                {% endif %}
                
            </div>
        </fieldset>

    <p>
        <button class="btn btn-large btn-primary" id="start-button" type="button">
            Start New Game
        </button>
        <span id="start-game-inprogress">
            or
            <button class="btn btn-large btn-primary" id="return-button" type="button">
                Return to Current Game
            </button>
            and continue tiling to the top!
        </span>
    </p>
    </form>
</div>
