<div id="custom-words">
    
    <h3>Custom Word Lists</h3>
    
    {% if user.is_authenticated %}
    <form class="form-inline">
        <h4>Create a new list or edit an existing list:</h4>
        <!--
        <div id="custom-new" class="input-append">
            <input id="new-list-name" type="text" placeholder="List Name">
            <button id="create-list" type="button" class="btn btn-primary">
                Create List
            </button>
        </div>
        -->
        <div id="custom-edit" class="input-append">
            <select id="existing-list-name">
                <option>Populate with existing lists, or edit a new list...</option>
                <option>&lt;New List&gt;</option>
                <option>ListName1</option>
                <option>ListName2</option>
                <option>ListName3</option>
            </select>
            <button id="edit-list" type="button" class="btn btn-primary">
                Edit List
            </button>            
        </div>
    </form>
    
    <!-- if edit, populate with name and existing words of the selected list -->
    <!-- if create, can only populate list name -->
    <div id="custom-builder">
        <h4>Build your list here:</h4>
        <div>
            <p>List Name</p>
            <input id="list-name" type="text" placeholder="List Name">
        </div>
        <!-- search words in db? -->
        <!--
        <div id="search-words">
            <form class="form-search">
                <div class="input-append">
                    <input type="text" class="search-query">
                    <button type="button" class="btn">Search</button>
                </div>
            </form>
            <p>table/grid of results with add option here</p>
        </div>
        -->
        
        <div id="create-word">
            <p>Create a word</p>
            <!--<label class="control-label">Essential stuff</label>-->
            <div class="controls controls-row">
                <input id="word-name" class="span3" type="text" placeholder="Word">
                <input id="word-part" class="span2" type="text" placeholder="Part of Speech">
                <textarea id="word-defn" class="span5" placeholder="Definition"></textarea>
                <button id="add-word" type="button" class="btn">Add word</button>
            </div>
        </div>

        <div id="current-words">
            <p>Current words. Click any cell to edit.</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Word</th>
                        <th>Part of Speech</th>
                        <th>Definition</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                
                <tbody id="list-entries">
                    <tr id="custom-word-0">
                        <td><div contenteditable>petrichor</div></td>
                        <td><div contenteditable></div></td>
                        <td><div contenteditable>the name for the smell of rain on dry ground, is from oils given off by vegetation, absorbed onto neighboring surfaces, and released into the air after a first rain</div></td>
                        <td><button type="button" class="btn btn-small remove-word">X</button></td>
                    </tr>
                    <tr id="custom-word-1">
                        <td><div contenteditable>harglebargh</div></td>
                        <td><div contenteditable>whatever I want</div></td>
                        <td><div contenteditable>expression for expressing the most expressive of expressions, one which expresses an expression about an expressive expression just going to make this really long oh man it's not going to fit into the database what will we do</div></td>
                        <td><button type="button" class="btn btn-small remove-word">X</button></td>
                    </tr>
                    <tr id="custom-word-2">
                        <td><div contenteditable>pickle</div></td>
                        <td><div contenteditable></div></td>
                        <td><div contenteditable>A small cucumber preserved in vinegar, brine, or a similar solution.</div></td>
                        <td><button type="button" class="btn btn-small remove-word">X</button></td>
                    </tr>
                    <tr id="custom-word-3">
                        <td><div contenteditable>pickle</div></td>
                        <td><div contenteditable>n</div></td>
                        <td><div contenteditable>If he had gone to a public high school he could have avoided this ____.</div></td>
                        <td><button type="button" class="btn btn-small remove-word">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <p>
            <button id="save-list" type="button" class="btn btn-primary">
                Save List
            </button>
            <button id="delete-list" type="button" class="btn">
                Delete List
            </button>
        </p>
    </div>
    
    {% else %}
    <p>Login or register to create your own word lists!</p>
    {% endif %}
</div>
