<div id="custom-words">
    
    <h3>Custom Word Lists</h3>
    
    {% if user.is_authenticated %}
    {% load crispy_forms_tags %}
    <div class="action-group">
        <p class="instruction-text">
            You may use custom word lists in Tile to the Top games.
            Once you've created a list, click the Play tab to view new game options.
        </p>
        {% if custom_lists %}
        <p>Create a new list or edit an existing list:</p>
        <div id="custom-edit" class="input-prepend input-append">
            <button id="new-list" type="button" class="btn btn-primary">
                New List
            </button>
                <select id="existing-list-name">
                    {% for list in custom_lists %}
                    <option value="{{ list.id }}">{{ list.name }}</option>
                    {% endfor %}
                </select>
                <button id="edit-list" type="button" class="btn btn-primary">
                    Edit List
                </button>
        </div>
        {% endif %}
    </div>
    
    <div class="action-group">
        <p id="build-help-text">Build a new list:</p>
        <form id="custom-form" method="post">
            
            <div id="custom-form-content">
                {% block custom_form_content %}
                {% csrf_token %}

                <div id="customlist-form">
                    {% crispy customlist_form %}
                </div>
                {{ customwords_formset.management_form }}
                <table id="customwords-formset" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Word*</th>
                            <th>Part of Speech</th>
                            <th>Definition*</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <!--
                    {% crispy customwords_formset %}
                    -->
                    
                    <tbody id="list-entries">
                        {% for form in customwords_formset %}
                        <tr>
                            {% for field in form %}
                            <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
            </div>
            
            <button id="save-list" type="button" class="btn btn-primary">
                Save List
            </button>
            <button id="delete-list" type="button" class="btn">
                Delete List
            </button>
        </form>
    </div>

    {% else %}
    <p>Login or register to create your own word lists!</p>
    {% endif %}
</div>
