/* game-specific css */

body {
    font-size: 125%;
}

p { 
    font-weight: bold;
}

.instruction-text {
	padding: 5px 10px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 20px;
}

.brand {
    font-family: "Comic Sans", sans-serif;
}

.definition, .answer {
    height: 75px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.definition {
    background-color: #AD1D28;
    float: left;
    clear: left;
	font-family: Arial, Verdana, sans-serif;
	font-size: 18px;
}

.hint-box{
	background-color: #00BBEE;
	float: right;
	height: 20px;
	width: 30px;
	font-size: 16px;
	cursor: hand;
	cursor: pointer;
}

.answer {
    background-color: #48CA3B;
    float: right;
    clear: right;
}

.tile-box {
    display: table-cell;
    border: 1px dotted #AD1D28;
	width: 2%;
    margin-bottom: 0;
	position: relative;
}


.tile-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 75px;
    border: none;
}

.tile, .emptyTileLoc {
	height: 50px;
	line-height: 50px;
    width: 50px;
	border-radius: 10px;
    text-align: center;
}

.tile {
    background-color: #DF6E1E;
	margin: auto;
	position: absolute;
}

.emptyTileLoc {
	background-color: #26666C;
	float: left;
	border: 2px solid #26666C;
	position: relative;
}

.clicked {
    border: 2px solid yellow;
}

#game-area {
    position: relative; // for absolutely position child (start-screen)
    background-color: cyan;
    overflow: hidden;
    padding: 5px;
    width: 900px;
    margin: auto;
}

#definitions-answers-area {
    padding: .25em 0 .25em;
    background-color: yellow;
    overflow: hidden;
}

.left-col {
    float: left;
    width: 30%;
}

.right-col {
    float: right;
    width: 66%;
}

#tiles-area {
    background-color: yellow;
    width: 99%;
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}

#transition-screen {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #AD1D28;
    display: hidden;
}

#transition-screen h1,
#transition-screen p {
    text-align: center;
    display: block;
    margin: 3em auto 3em;
}


a, a:link, a:visited {
	color: white;
	text-decoration: none;
}


/* CSS Rules to disallow highlighting of any elements.
 * The ::-moz-selection is firefox specific.
 * */
::-moz-selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#options-area
{
	border: none;
	display: inline;
	text-align: center;
}

.options-button
{
	/* border: none; */
	/*display: inline-block;*/
	
	border-radius: 10px;
	width: 20%;
	height: 50px;
	text-align: center;
	background-color: blue;
}

/* Menu stuff */
#start-game-inprogress
{
    display: none;
}

#start-menu fieldset {
    margin: 1em;
}

#start-menu .accordion-heading {
    background-color: #26666C;
}

#start-menu .controls {
    margin-left: 160px;
}

#start-menu .control-label {
    font-size: 16px;
}

#start-menu .btn-primary {
    margin-right: 12px;
}

#difficulty-inputs .btn {
    width: 34px;
}

#difficulty-inputs input {
    width: 78px;
    text-align: center;
    background-color: white;
    cursor: default;
}

#difficulty-text {
    width: 220px;
    text-align: center;
}

#game-menu
{
    margin-top: .25em;
    margin-bottom: .5em;
    text-align: center;
}

#timer-display
{
    margin-top: 15px;
    letter-spacing: .1em;
    font-size: 30px;
}

/* Bootstrap -related UI stuff */

.tab-content {
    background-color: #26666C;
}

.control-group.error .help-inline, .control-group.error .help-block {
    color: #B94E48;
    font-size: 70%;
    display: block;
    clear: both;
}

.control-group.error > label {
    color: black;
}

#login-form, #registration-form {
    margin-bottom: 0px;
}

button.close {
    font-size: 200%;
    font-weight: bold;
}

.tab-pane {
    background-color: #108D97;
    overflow: hidden;
    width: 910px;
    margin: 1em auto 1em;
}

.tab-pane h3 {
    background-color: #AD1D28;
    margin-top: 0px;
    padding-left: .5em;
}

#account-data div.labels {
    text-align: right;
}

#about-data p {
    text-align: center;
}

.modal a,.modal a:link,.modal a:visited {
	color: #108F99;
	text-decoration: none;
} 

.modal a:hover {
    color: #3CB9C6;
}

.brand img {
    height: 40px;
    width: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: .5em;
}
/* end bootstrap-related UI stuff */

.full-screen {
    width: 100%;
}

.centered {
    margin: auto;
    display: block;
}

.rounded-rectangle {
    border-radius: 10px;
}

.plaqued {
    border-style: ridge;
    border-width: 5px;
    border-color: #982030;
}

.btn-disabled {
    pointer-events: none
    cursor: default;
}

.btn-disabled:active {
    background-color: #971923;
}

/* game height styles */
/* TODO: please move me to proper locaion */

.navbar-inner .container {
    width: 100% !important;
    padding-top: 5px;
}

.navbar-inner {
    border-bottom-left-radius: 20px !important;
    margin-left: 280px;
}

#logo {
    float: left;
    margin-left: 10px;
}

.nav-tabs {
    margin-bottom: 10px;
}

#play {
    margin: 10px;
    padding: 0px 5px;
}

/* Leaderboard styles */

#leaderboard_table {
	width: 75%;
	margin: auto;
}

#leaderboard_table td {
	text-align: center;
}

#timer-display {
    width: 130px;
}
