/* game-specific css */

body {
    font-size: 125%;
}

p { 
    font-weight: bold;
}

div {
    border: 4px solid black;
}

.definition, .answer {
    height: 75px;
    width: 100%;
}

.definition {
    background-color: red;
    float: left;
    clear: left;
}

.answer {
    background-color: green;
    float: right;
    clear: right;
}

.tile {
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}


.tile-box {
    display: table-cell;
    border: 1px dotted red;
    padding: 4px 6px;
    width: 2%;
    margin-bottom: 0;
}

.tile-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 75px;
    border: none;
}


.emptyTileLoc {
	height: 55px;
	width: 55px;
	background-color: grey;
	border-radius: 10px;
	float: left;
}

.clicked {
    border: solid yellow 4px;
}

.inTileArea {
    background-color: "red";
}

#game-area {
    background-color: cyan;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    min-width: 1000px;
}

#definitions-answers-area {
    background-color: yellow;
    overflow: hidden;
}

.left-col {
    float: left;
    width: 48%;
}

.right-col {
    float: right;
    width: 48%;
}

#tiles-area {
    background-color: yellow;
    width: 99%;
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}

#start-screen {
	background-color: red;
	min-width: 50%;
	min-height: 50%;
	align: center;
	border: double 5px black;
}

.simplemodal-container {
	border: 0px;
}

.simplemodal-wrap {
	border: 0px;
}

.simplemodal-data {
	padding: 1em;
	background-color: grey;
	align: center;
}

#simplemodal-overlay {
	background-color:#000;
}


#simplemodal-container a.modalCloseImg {
	background:url(/static/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

a, a:link, a:visited {
	color: #0645AD;
	text-decoration: none;
}


/* Login/Register Modals */
.modal {
    display: none;
    width: 600px;
    float: left;
}

.modal label {
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-right: .5em;
}

.modal input[type="submit"] {
    clear: both;
}

.modal input {
    float: left;
}

.errorlist, .field-error {
    color: red;
}

.field-error {
    float: left;
    margin-left: 275px;
}

/* CSS Rules to disallow highlighting of any elements.
 * The ::-moz-selection is firefox specific.
 * */
::-moz-selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#options-area
{
	border: none;
	display: inline;
	text-align: center;
}

.options-button
{
	/* border: none; */
	/*display: inline-block;*/
	
	border-radius: 10px;
	width: 20%;
	height: 50px;
	text-align: center;
	background-color: blue;
}

/* Banner region */
#logo img
{
    display: block;
}
