/* game-specific css */

body {
    font-size: 125%;
}

p { 
    font-weight: bold;
}

.definition, .answer {
    height: 75px;
    width: 100%;
    margin: .25em .5em .25em;
    padding: 5px;
}

.definition {
    background-color: #AD1D28;
    float: left;
    clear: left;
}

.answer {
    background-color: #48CA3B;
    float: right;
    clear: right;
}

.tile {
    height: 50px;
    width: 50px;
    background-color: #DF6E1E;
    border-radius: 10px;
    text-align: center;
}

.tile p {
    padding-top: .7em;
}

.tile-box {
    display: table-cell;
    border: 1px dotted #AD1D28;
    padding: 4px 6px;
    width: 2%;
    margin-bottom: 0;
}


.tile-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 75px;
    border: none;
}


.emptyTileLoc {
	height: 55px;
	width: 55px;
	background-color: #26666C;
	border-radius: 10px;
	float: left;
}

.clicked {
    border: 2px solid yellow;
}

#game-area {
    position: relative; // for absolutely position child (start-screen)
    background-color: cyan;
    overflow: hidden;
    padding: 5px;
    width: 900px;
    margin: 1em auto 1em;
}

#definitions-answers-area {
    padding: .25em 0 .25em;
    background-color: yellow;
    overflow: hidden;
}

.left-col {
    float: left;
    width: 30%;
}

.right-col {
    float: right;
    width: 66%;
}

#tiles-area {
    background-color: yellow;
    width: 99%;
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}

#start-screen, #transition-screen {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	background-color: #AD1D28;
    z-index: 100;
}

#transition-screen h1,
#transition-screen p,
#start-screen p {
    text-align: center;
    display: block;
    margin: 3em auto 3em;
}

#transition-screen {
    z-index: -1;
    display: hidden;
}


a, a:link, a:visited {
	color: white;
	text-decoration: none;
}


/* CSS Rules to disallow highlighting of any elements.
 * The ::-moz-selection is firefox specific.
 * */
::-moz-selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#options-area
{
	border: none;
	display: inline;
	text-align: center;
}

.options-button
{
	/* border: none; */
	/*display: inline-block;*/
	
	border-radius: 10px;
	width: 20%;
	height: 50px;
	text-align: center;
	background-color: blue;
}

/* Banner region */
#logo img
{
    display: block;
}

/* Bootstrap -related UI stuff */

.tab-content {
    background-color: #26666C;
}

.control-group.error .help-inline, .control-group.error .help-block {
    color: #B94E48;
    font-size: 70%;
    display: block;
    clear: both;
}

.control-group.error > label {
    color: black;
}

#login-form, #registration-form {
    margin-bottom: 0px;
}

button.close {
    font-size: 200%;
    font-weight: bold;
}

.tab-pane {
    background-color: #108D97;
    overflow: hidden;
    width: 900px;
    margin: 1em auto 1em;
}

.tab-pane h3 {
    background-color: #AD1D28;
    margin-top: 0px;
    padding-left: .5em;
}

#account-data div.labels {
    text-align: right;
}

#about-data p {
    text-align: center;
}

.modal a,.modal a:link,.modal a:visited {
	color: #108F99;
	text-decoration: none;
} 

.modal a:hover {
    color: #3CB9C6;
}

.brand img {
    height: 40px;
    width: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: .5em;
}
/* end bootstrap-related UI stuff */

